.table {
  box-shadow: 0 0 10px 3px gray;
  border-radius: 5px;
  border-collapse: collapse;
  overflow: hidden;
  margin: 0 auto;
  margin-top: 50px;
  text-align: center;
}

.table tr {
  height: 50px;
  font-size: 16px;
}
.table tr:nth-child(even) {
  background-color: #f2f2f2;
}
.table tr:hover {
  background-color: #ddd;
}
.table tr td:first-child,
.table tr th:first-child {
  padding-left: 50px;
  width: 200px;
  text-align: start;
  text-transform: capitalize;
}
.table td {
  border: 1px solid #ddd;
}
.table th {
  width: 300px;
  background: rgb(0, 217, 255);
  color: white;
  text-transform: uppercase;
  font-size: 16px;
  border: 1px solid #ddd;
}
